<% content_for :title, "Editing user event" %>

<h1>Editing user event</h1>

<%= render "form", user_event: @user_event %>

<br>

<div>
  <%= link_to "Show this user event", @user_event %> |
  <%= link_to "Back to user events", user_events_path %>
</div>
